  <!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery.min.js"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
</head>
<body>
    <div class = "container" ng-controller = "indexController">
        <h1>April Market</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat = "p in products">
                <td>{{p.id}}</td>
                <td>{{p.title}}</td>
                <td>{{p.price}}</td>
                <td>
                    <button class="btn btn-success" ng-click="addProductToCart(p.id)">Add to cart</button>
                </td>
            </tr>
            </tbody>
        </table>

        <button class="btn btn-primary" ng-click="init()">Refresh</button>
        <br>
        <form novalidate ng-submit="createNewProduct()">
            <div class="mb-3">
                <label for="inputTitle" class="form-label">Title</label>
                <input type="text"  class="form-control" ng-model = "newProduct.title" id="inputTitle" aria-describedby="titleHelp">
            </div>
            <div class="mb-3">
                <label for="inputPrice" class="form-label">Price</label>
                <input type="number" class="form-control" ng-model = "newProduct.price" id="inputPrice">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <h4>Товары в корзине ({{cartProducts.length}})</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Title</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat = "p in cartProducts">
                <td>{{p.id}}</td>
                <td>{{p.title}}</td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-danger" ng-click="deleteAllFromCart()">Clean the cart</button>
    </div>
</body>
</html>